@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

*{
    margin:0;
    padding:0;
}
body{
    font-family:"poppins", sans-serif;
    background-color:#eaeaea;
    color:#444
}
.card-cotainer{
    margin:100px auto;
    background-color:whitesmoke;
    max-width:500px;
    height:650px;
    border-radius: 10px;
    box-shadow:5px 5px 10px#cacdcd,-5px -5px 10px#ffffff;
    padding: 25px;
}
.card-image{
    width:200px;
    height:200px;
    margin:25px auto;
    overflow:hidden;
    border-radius:50%;
    outline-offset: 5px;
    outline:2px solid #444
}
.card-image{
    cursor: pointer;
}
.card-image:hover{
    filter:grayscale(1)
}
.card-details{
    text-align: center;
    margin-top:25px;
}
.card-details h2{
    font-size: 2.6rem;
    letter-spacing: 4px;
} .card-details h3{
    font-size:1.5rem;
    text-transform: uppercase;
    color:lightseagreen;
    font-weight: 600;
    letter-spacing: 3px;
    margin-top:0;
    margin-bottom:10px;
}
.card-details p{
text-align:justify;
margin: 10px 0;
font-size:1.3rem;
}
.card-details a {
    text-decoration: none;
    color:white;
    background-color: lightseagreen;
    font-size: 600;
    font-size:1.3rem;
    padding:8px 28px;
    text-transform:uppercase;
    display: inline-block;
    margin-top:25px;
    border-radius: 5px;
}
.card-details a:hover{
background-color:#444;
}
.card-details a:active{
    outline:5px solid rgba(32, 178, 171, 0.5);
}